<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="../public/img/icon.png"> <span class="fs-4">Cumplimiento de Responsabilidades</span>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <i class="bi me-2 material-icons tiny" title="Settings">home</i> General
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
            <i class="bi me-2 material-icons tiny" title="Settings">apps</i> Agenda
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <i class="bi me-2 material-icons tiny" title="Settings">alarm</i> Horarios
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <i class="bi me-2 material-icons tiny" title="Settings">create</i> Programar
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <i class="bi me-2 material-icons tiny" title="monitor">assessment</i> Historial
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <i class="bi me-2 material-icons tiny" title="Settings">settings</i> Configuración
        </a>
      </li>
    </ul>
    <hr>
    <span class="accountUser"><img src="../public/img/accountExample.jpeg">   s_nahuuu</span>
    <span class="logoutBtn pointer">Salir <i class="bi me-2 material-icons tiny" title="Settings">logout</i></span>
  </div>
<div class="content d-flex">
  <div class="conic-graphic">

  </div>
</div>