:root{
    --bgTitlebar: #2c2c2c;
    --bgMain: #1f1f1f;
    --bgPrimary: #0099ff;
    --orange: #e23f17;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
  background-image: url("../img/background-repeat.png") !important;
  background-repeat: repeat !important;
}

.titleBar {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 5;
}
.bar {
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
}
.right-btns {
    float: right;
    color: #ffffff;
}
.titlebar-btn {
    float: left;
    text-align: center;
    padding: 0px 20px 0px 20px;
    font-size: 20px;
    color: #fff;
    transition: all 0.2s;
}
.titlebar-btn:hover {
    color: black;
}

body .top-svg{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 90%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating input{
    border: 1px solid rgba(70, 70, 70, 0.555);
}
.form-signin .form-floating input{
    transition: all 0.2s;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.logInBtn {
    box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.75);
}

.logInBtn:hover {
    box-shadow: 2px 3px 20px 0px rgba(0,0,0,0.75);
    transition: all 0.4s;
}

.configBtn i {
    position: absolute;
    bottom: 0;
    right: 1rem;
    font-size: 30px !important;
    color: #0b2142;
}

/* MATERIAL ICONS IMPORT */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Material.woff2) format('woff2');
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }
  .material-icons.tiny {
      font-size: 15px;
      padding-bottom: 15px;
  }
                  /* OTHERS STYLES */
  .drag {
      -webkit-app-region:drag;
  }
  .no-drag {
      -webkit-app-region: no-drag
  }
  .pointer {
      cursor: pointer;
  }
  .hide {
      display: none;
  }
  